
/*
=======================================
 Andersen Lab Variant Calling Pipeline
=======================================
*/

import java.time.*
Date now = new Date()

outputDir="WI_${now.format("yyyyMMdd")}"
trace.enabled = true

process {
    cache = 'lenient'
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "Caenorhabditis variant calling"
    mainScript = "main.nf"
    nextflowVersion = '>=24.10.0'
    version = "3.0.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    bam_location = null
    gvcf_location = null
    help = false
    debug = false
    reference = null
    species = null
    mito_name = "MtDNA"
    min_depth = 5
    qual = 30.0
    strand_odds_ratio = 5.0
    quality_by_depth = 20.0
    fisherstrand = 100.0
    high_missing = 0.95
    high_heterozygosity = 0.10
    partition = 1000000
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
    local { includeConfig 'conf/local.config' }
    gcp { includeConfig 'conf/gcp.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}

