
/*
=======================================
 Andersen Lab Variant Calling Pipeline
=======================================
*/

import java.time.*
Date now = new Date()

process {
    cache = 'lenient'
    container = 'andersenlab/genomes:20220126140816143da7'
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "C. elegans variant calling"
    mainScript = "main.nf"
    nextflowVersion = '>=23.0'
    version = "3.0.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    help = false
    debup = false
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
    local { includeConfig 'conf/local.config' }
    gcp { includeConfig 'conf/gcp.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}

