
/*
    LOCAL

    For running the pipeline locally
*/

process {

    withLabel: xs {
        cpus = 2
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 2.GB
    }

    withLabel: md {
        cpus = 4
        memory = 2.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 2.GB
    }

    withLabel: xl {
        cpus = 4
        memory = 4.GB
    }

}

params {
	
    project="PRJNA13758"
	genome="WS276"
	
	reference = "${PWD}/genomes/${project}_${genome}/c_elegans.${project}.${genome}.genomic.fa.gz"

	annotation_reference = "WS276"

    // For debugging, this test GFF is used as opposed to one produced from a specific build
	annotation_gff = "${PWD}/genomes/${project}_${genome}/Caenorhabditis_elegans.WBcel235.100.gff3.gz"

}

docker {
    enabled = true
}
