
/*
    LOCAL

    For running the pipeline locally
*/

process {

    withLabel: xs {
        cpus = 2
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 2.GB
    }

    withLabel: md {
        cpus = 4
        memory = 4.GB
    }

    withLabel: lg {
        cpus = 8
        memory = 8.GB
    }

    withLabel: xl {
        cpus = 8
        memory = 8.GB
    }

}

params {
	
    /* Adjust these parameters to set the reference genome */
    reference_base = "${PWD}/genomes"
    species="c_elegans"
    project="PRJNA13758"
	ws_build="WS276"
	
    /* Keep these static ~ They should not need to be updated */
    reference_dir = "${reference_base}/${species}/${project}/${ws_build}"
    reference = "${reference_dir}/${species}.${project}.${ws_build}.genome.fa.gz"
    snpeff_reference = "${species}.${project}.${ws_build}"
    snpeff_dir = "${reference_dir}/snpeff"
    snpeff_config = "${reference_dir}/snpeff/snpEff.config"
    csq_gff = "${reference_dir}/csq/${species}.${project}.${ws_build}.csq.gff3.gz"
    dust_bed = "${reference_dir}/lcr/${species}.${project}.${ws_build}.dust.bed.gz"
    repeat_masker_bed = "${reference_dir}/lcr/${species}.${project}.${ws_build}.repeat_masker.bed.gz"

}

docker {
    enabled = true
}
