
/*
    LOCAL

    For running the pipeline locally
*/

process {

    withLabel: xs {
        cpus = 2
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 2.GB
    }

    withLabel: md {
        cpus = 4
        memory = 2.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 2.GB
    }

    withLabel: xl {
        cpus = 4
        memory = 4.GB
    }

}

params {
	
    project="PRJNA13758"
	genome="WS276"
	
	reference = "${PWD}/genomes/${project}_${genome}/c_elegans.${project}.${genome}.genomic.fa.gz"

	annotation_reference = "WS276"

	annotation_gff = "${PWD}/genomes/${project}_${genome}/c_elegans.${project}.${genome}.annotations.CSQ.gff3"

}

docker {
    enabled = true
}
