/*
    Quest Configuration
*/

process {

    container = 'docker://andersenlab/gatk4:latest'

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 2
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 16.GB

        executor = 'slurm'
        queue = 'b1059'
        clusterOptions = '-A b1059 -t 14-00:00:00 -e errlog.txt'
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {
	
    reference = "/projects/b1059/projects/Lewis/c_tropicalis/variant_calling/gatk/reference/caenorhabditis_tropicalis_NIC58.v1.scaffolds.fa"

}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/workflows/wi-gatk/singularity_cache"
}

