/*
    Quest Configuration
*/
process {

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 4.GB
    }

    withLabel: md {
        cpus = 8
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 10
        memory = 20.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {
            
    // genome
    genome = "WS245"
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"

    tmpdir = "/projects/b1042/AndersenLab/tmp"
    debug = false
    
    mode = "run"
    base_input_dir = "/projects/b1059/workflows/diverged_regions-nf/input_files"
    // genome
    genome = "WS245"
    reference = "/projects/b1059/data/genomes/c_elegans/${genome}/${genome}.fa.gz"
    gff = "/${base_input_dir}bin/ce.gff3.gz"
    strains = "/projects/b1059/projects/Ye/strain_identify/strain_coverage/reference_strain_list.tsv"
    interval_bed = "${base_input_dir}bin/Split_Genome_full.bed"
    // variant filters
    missing = 0.95
    annotation_reference = "WS263"
    bamdir = "/projects/b1059/data/alignments/WI/strain/"
    min_depth = 5
    qual = 30.0
    mapping_quality = 30.0
    strand_odds_ratio = 5.0
    dv_dp = 0.5
    quality_by_depth = 5.0
    min_depth_individual = 1
    cores = 6
    fisherstrand = 50.0
    readbias = -5.0
    
}