/*
    Rockfish Configuration
*/

trace.enabled = true

process {

    withLabel: create_gvcf_sample_sheet {
        executor = "local"
    }

    withLabel: 'samtools_get_contigs' {
        executor = "slurm"
        clusterOptions = "-A eande106 -e errlog.txt"
        container = "docker://quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        cpus = 1
        memory = "10 MB"
        time = "3m"
        queue = "express"
    }

    withLabel: 'gatk_haplotypecaller' {
        maxRetries = 3
        executor = "slurm"
        array = 100
        clusterOptions = "-A eande106 -e errlog.txt"
        container = "docker://quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0"
        queue = "parallel"
    }

    withLabel: 'bcftools_concat_vcfs' {
        maxRetries = 3
        executor = "slurm"
        clusterOptions = "-A eande106 -e errlog.txt "
        container = 'docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1'
        queue = "parallel"
    }

    withLabel: 'bcftools_concat_overlapping_vcfs' {
        maxRetries = 3
        executor = "slurm"
        clusterOptions = "-A eande106 -e errlog.txt "
        container = 'docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1'
        queue = "parallel"
    }

    withLabel: 'gatk_genomicsdbimport' {
        executor = "slurm"
        array = 110
        clusterOptions = "-A eande106 -e errlog.txt"
        container = "docker://quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0"
        cpus = 4
        memory = "16 GB"
        time = "8h"
        queue = "parallel"
    }

    withLabel: 'gatk_genotypegvcfs' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106_bigmem -e errlog.txt "
        container = "docker://quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0"
        queue = "bigmem"  
    }

    withLabel: 'bcftools_compress' {
        executor = "slurm"
        array = 110
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt"
        container = 'docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1'
        queue = "parallel"
    }

    withLabel: 'local_hetpolarization' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106_bigmem -e errlog.txt"
        container = "docker://andersenlab/hetpolarization:1.10"
        queue = "bigmem"  
    }

    withLabel: 'gatk_soft_filter' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt"
        container = "docker://quay.io/biocontainers/gatk4:4.6.1.0--py310hdfd78af_0"
        queue = "parallel"
    }

    withLabel: 'local_filter' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt"
        container = "docker://andersenlab/hetpolarization:1.10"
        queue = "parallel"
    }

    withLabel: 'local_vcf_stats' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt "
        container = 'docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1'
        queue = "parallel"
    }

    withLabel: 'multiqc_report' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt "
        container = "docker://quay.io/biocontainers/multiqc:1.8--py_1"
        queue = "parallel"
    }

    withLabel: 'local_report' {
        executor = "slurm"
        maxRetries = 3
        clusterOptions = "-A eande106 -e errlog.txt "
        container = "docker://andersenlab/r_packages:v0.7"
        queue = "parallel"
    }
}

params {
    data_path = "/vast/eande106/data"
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}

workflow {
    workDir = "/scratch4/eande106"
}
