/*
    Rockfish Configuration
*/

process {
    executor = 'slurm'
    errorStrategy='retry'
    maxRetries=3

    withLabel: xs {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 1'
        cpus = 1
        memory = 4.GB
        queue = "shared"
    }

    withLabel: sm {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 2'
        cpus = 2
        memory = 8.GB
        queue = "shared"
    }

    withLabel: md {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1 -n 4'
        cpus = 4
        memory = 16.GB
        queue = "shared"
    }

    withLabel: lg {
        clusterOptions = '-A eande106 -t 2:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }

    withLabel: xl {
        clusterOptions = '-A eande106 -t 4:00:00 -e errlog.txt -N 1'
        cpus = 48
        memory = 160.GB
        queue = "parallel"
    }

    withLabel: R {
        container = 'docker://andersenlab/r_packages:v0.7'
    }
}

params {
    data_path = "/vast/eande106/data"
}

executor {
    queueSize=500
    submitRateLimit=10
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}